@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Press Start 2P', sans-serif;
    background-image: linear-gradient(230deg,#001F3F, rgb(17, 64, 251));
    /*background-color: #00488c;*/
    color: #FFD700;
    margin: 0 auto;
    letter-spacing: 2px;

}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transition: all 0.2s ease-out;
}
.loading h1{
    font-size: 3rem;
    color: white;
}
.loading span{
    color: #FFD700;
}
.progress-bar{
    width: 30%;
    height: 8px;
    border-radius: 7px;
    background-color: #7FDBFF;
    animation: grow 3.5s linear infinite;
    transform-origin:left ;
}
@keyframes grow {
    0%{
        transform: scaleX(0);
    }
}
.loading.hide{
    display: none;
}
.content.hide{
    display: none;
}
.content{
    transition: all 0.2s ease-in;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:35% ;
    padding: 0.8rem 1.32rem;
    margin-top: 0;
    position: fixed;
    transition: all .3s ease-in-out;
    z-index: 10;
}
header.active{
    background-color: rgba(0, 31, 63, 0.7);
    padding: 0.4rem 1.5rem;
}
.logo{
    color: white;
    font-size: 1.4rem;
}
.logo span{
    color: #FFD700
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;

}
.nav-item{
    color: #7FDBFF;
    font-size: 0.8rem;
    transition: all .1s ease-in-out;
    padding: 0;
}
.nav-item:hover{
    color: #FFD700;
    text-decoration: underline;
    transform: scale(2);
}
main{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 3% 12%;
    color: white;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.hero-head{
    color: #FFD700;
    font-size: 2.8rem;
}
main h2{
    font-size: 1.5rem;
}
.pro{
    font-size: 1rem;
}
.profession{
    color:#7FDBFF;
}
.hero-text{
    text-align: left;
}
.hero-img{
    height: 22rem;
    width: 22rem;
    border-radius: 50%;

    box-shadow: 0 0 50px #FFD700;
    outline:none ;
}
.hero-img:hover{
    box-shadow: 0 0 70px #FFD700;
}
.hero-text .get-in-touch{
    font-family: inherit;
    font-size: 0.8rem;
    color: #7FDBFF;
    background-color: transparent;
    padding: 1rem;
    margin-top: 0.9rem;
    border: 2px solid #7FDBFF;
    border-radius: 2rem;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}
.hero-text .get-in-touch:hover{
    transform: translate(-4px,-4px);
    box-shadow:1px 1px 3px #7FDBFF; ;
}

.about{
    /*background-color: #FF4136;*/
    padding: 3rem 4rem;
    background-color: rgba(0, 31, 63, 0.6);
    margin: 0 auto;
    width: 80%;
    border-radius: 2rem;
    box-shadow: 0 0 29px #7FDBFF;
}
.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    position: relative;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.75);
}
.about-text{
    font-size: 0.8rem;
    width: 60%;
}
.about-content img{
    height: 25%;
    width: 25%;
    border-radius:5%;
    border: 3px solid #FFD700;
    transform: rotate(8deg);
    margin: 1.4rem 0;
}

.about-content p span{
    color: #FFD700;
}
.skills{
    margin: 0 auto;
    width: 80%;
}
.skillHead{
    text-align: center;
    font-size: 1.7rem;
}

.skillsContent{
    padding: 1.2rem  0;
    text-align: left;
}
.skillsContent h2{
    font-size: 1.2rem;
}
.langList,.frontList{
    justify-content: left;
}
.languages,.frontend{
    font-size: 0.9rem;
    color: #FFD700;
    background-color: #FF4136;
    padding: 1%;
    border-radius: 10px;
}


.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.5rem 4rem;
}
.contact h2{
    font-size: 2rem;
}
.contact .contact-text{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5rem;
     color: #7FDBFF;
}
.contact a{
    text-decoration: none;
    width: 25%;
}
a .hello{
    background-color: #FF4136;
    color: #FFD700;
    font-family: inherit;
    font-size: 1.1rem;
    padding:7%;
    border-radius: 8px;
    transition: ease-in 0.1s;
    margin-top: 2rem;
    cursor: pointer;
    width: 100%;
    line-height: 1.5rem;
}
a .hello:hover{
    transform: translate(-5px,-5px);
    border-bottom: 5px solid #FFD700;
    border-right: 5px solid #FFD700;
}
a .hello:focus{
    outline: none;
}



textarea{
    font-family: inherit;
    resize: none;
    height: 7rem;
    width: 100%;
    margin: 20px 0;
    background-color: #7FDBFF;
    opacity: 0.5;
    border-radius: 8px;
    padding: 2%;
}
textarea:focus{
    outline: none;
}

.footer{
    background-color: #000;
    color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
    bottom: 0;
}
.footer h2{
    font-size: 1.2rem;
}
.footer .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45%;
    font-size: 1.6rem;
}
.footer .links a{
    text-decoration: none;
    color: dimgray;
    font-size: 1.4rem;
    transition: ease-in-out .2s;
}
.footer .links a:hover{
    color: #7FDBFF;
    transform: scale(1.2);
}
#toasts{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.toast{
    background-color: #4c839a;
    color: white;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 10px;
    z-index: 100;
    transition: opacity 0.5s ease;
}
::-webkit-scrollbar{
    width: 0.4rem;
}
::-webkit-scrollbar-thumb{
    background-color: #7FDBFF;
    border-radius: 20px;

}